.custom-navbar {
    background-color: #003973;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.custom-navbar .navbar-title > a {
    color: white !important;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bolder;
}

.custom-navbar .nav-links {
    display: flex;
    align-items: center;
}

.custom-navbar .nav-links a {
    color: white;
    margin-left: 15px;
}
